blinker==1.5
Flask==2.2.2
gitdb==4.0.10
GitPython==3.1.30
gunicorn==20.1.0
ImageHash==4.3.1
imageio==2.23.0
importlib-resources==5.10.2
imread==0.7.4
numpy==1.23.5
opencv-python==4.6.0.66
opencv-python-headless==4.6.0.66
pandas==1.4.2
Pillow==9.3.0
pipenv==2022.12.19
rembg==2.0.30
scikit-image==0.19.3
scikit-learn==1.2.0
tensorflow-datasets==4.8.1
tensorflow-estimator==2.11.0
tensorflow-metadata==1.12.0
uvicorn==0.20.0
virtualenv==20.17.1
virtualenv-clone==0.5.7
