<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static' , filename = 'css/style.css')}}>
    <title>ScaLe | About</title>
</head>
<body style="background-color:#23242a;">
    <header>
        <a href="index" class="logo">ScaLe</a>
        <ul class = "navigation">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </header>
    <section class="banner1" style = "padding-top : 30%;">
        <div class="content2">
            <h5>About</h5>
            <p>Welcome to ScaLe! is a web application which can predict your Thai food image with calories.
                <br>Thank you</p>  
        </div>
    </section>
</body>
</html>