<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScaLe | Contact</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="home.html" class="logo">ScaLe</a>
        <ul>
            <li><a href="info.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="index.html">Sign in</a></li>
        </ul>
    </header>
    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="img.jpg">
        </div>
        <div class="content">
            <div class="details">
                <h2>Jiralak B.
                    <br><span>MSc Data Science, UWE</span></h2>
                <div class="data">
                    <h3>314<br><span>Posts</span></h3>
                    <h3>761<br><span>Followers</span></h3>
                    <h3>597<br><span>Following</span></h3>
                </div>
                <div class="actionBtn">
                    <button><a href="https://www.instagram.com/jaybun.jbn/" target="_blank">Follow</a></button>
                    <button><a href="mailto:Jiralak2.Bunchongruchakul@live.uwe.ac.uk" target="_blank">Email</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>