<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static' , filename = 'css/style.css')}}>
    <title>ScaLe | Contact</title>
</head>
<body style="background-color:#23242a;">
    <header>
        <a href="index" class="logo">ScaLe</a>
        <ul class = "navigation">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </header>
    <div class="card">
        <div class="lines"></div>
        <div class="imgBx">
            <img src="{{url_for('static' , filename = 'css/img.jpg')}}">
        </div>
        <div class="content">
            <div class="details">
                <h2>Jiralak (Jay) B.
                    <br><span>MSc Data Science, UWE</span></h2>
                <div class="data">
                    <h3>314<br><span>Posts</span></h3>
                    <h3>761<br><span>Followers</span></h3>
                    <h3>597<br><span>Following</span></h3>
                </div>
                <div class="actionBtn">
                    <button><a href="https://www.instagram.com/jaybun.jbn/" target="_blank">Follow</a></button>
                    <button><a href="mailto:Jiralak2.Bunchongruchakul@live.uwe.ac.uk" target="_blank">Email</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>