<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static' , filename = 'css/style.css')}}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ScaLe | Home</title>
</head>
<body style="background-color:#23242a;">
    <header>
        <a href="index" class="logo">ScaLe</a>
        <ul class = "navigation">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </header>

    <style>
        .content {
          max-width: 400px;
          margin: auto;
          }
    </style>
    <div class="content">
        <div class = "index-main">

        <div style = "width : 100%; padding-top : 30%;">
            <div class = "header-content">
                 <h6 style = "text-align: center; color: #45f3ff; font-size: x-large; font-weight: bolder;"><span class="header-content-text">ScaLe Classification Model</span></h6>
                 <h6 style = "text-align: center; color: #45f3ff; font-size: medium;"><span class="header-content-text">Thai Food</span></h6>
            </div>
            <p></p>
        </div>

        <div class="upload-section">

            <div class="upload-file" style="text-align: center;">
                <form class = "file-form" action="/predict" method="post", enctype="multipart/form-data">
                    <input class="form-control form-control-sm" id="formFileSm" type="file", name = "file">
                    <p></p>
                    <button class="btn btn-outline-light">Upload</button> 
                </form>
            </div>
            <p></p>
            <div class="uploadOR" style="text-align: center; color: white;">
                <span>OR</span>
            </div>
            <p></p>
            <div class="upload-link" style="text-align: center;">
                <form class="link-form" action="/predict" method="post", enctype="multipart/form-data">
                    <input class="link-form-input" type="text", maxlength="1000" , name = "link" placeholder=" please paste image URL", style="font-size: small; border-radius: 5px; width: 400px; height: 38px;"/>
                    <p></p>
                    <button class="btn btn-outline-light">Proceed</button> 
                </form>
            </div>
            <div class="header-content-sub">
                    <p style="text-align: center; margin-top: 15px;color: red" class="header-content-info">{{error}}</p>
            </div>
        </div>
        <div class="footer">
            <div class="header-content-sub">
                    <p style="text-align: center; color: white" class="header-content-info">The model only performs better when the following image categories are provided as input</p>
            </div>
            <div class="header-content-sub" style="font-size: x-small;">
                    <p style="text-align: center; color:#45f3ff" class="header-content-info">(1) Boat Noodles, (2) Massaman Chicken Curry, (3) Spicy Basil Chicken Stir-Fly, (4) Thai-Style Fried Noodles, (5) Panang Chicken Curry, (6) Spicy Green Papaya Salad, (7) Green Chicken Curry, (8) Chicken Coconut Soup, (9) Spicy Shrimp Soup, and (10) Southern Sour Curry</p>
            </div>
        </div>  
    </div>		 

</body>
</html>