<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static' , filename = 'css/style.css')}}>
    <title>ScaLe | Welcome</title>
</head>
<body style="background-image: linear-gradient(to top, #fbc8d4 0%, #9795f0 100%);">
    <header>
        <a href="index" class="logo">ScaLe</a>
        <ul class = "navigation">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </header>
    <section class="banner">
        <div class="container">
            <div id="scene">
                <h4 id="text">
                    <span data-depth-y="2">S</span>
                    <span data-depth-y="-6">c</span>
                    <span data-depth-y="5">a</span>
                    <span data-depth-y="-4">L</span>
                    <span data-depth-y="3">e</span>
                </h4>
                <div class="layer" data-depth="-0.5"><img src="{{url_for('static' , filename = 'css/img1.png')}}"></div>
                <div class="layer zIndexAbove" data-depth="0.75"><img src="{{url_for('static' , filename = 'css/img2.png')}}"></div>
                <div class="layer zIndexAbove" data-depth="1"><img src="{{url_for('static' , filename = 'css/img3.png')}}"></div>
                <div class="layer" data-depth="-0.25"><img src="{{url_for('static' , filename = 'css/img4.png')}}"></div>
                <div class="layer" data-depth="0.625"><img src="{{url_for('static' , filename = 'css/img5.png')}}"></div>
                <div class="layer zIndexAbove" data-depth="-0.375"><img src="{{url_for('static' , filename = 'css/img6.png')}}"></div>
            </div>   
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script>
        var text = document.getElementById('text');
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(text);
        var parallaxInstance = new Parallax(scene);
    </script>
</body>
</html>