<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScaLe | Welcome</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <a href="index.html" class="logo">ScaLe</a>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </header>
    <section class="banner">
        <div class="container">
            <div id="scene">
                <h4 id="text">
                    <span data-depth-y="2">S</span>
                    <span data-depth-y="-6">c</span>
                    <span data-depth-y="5">a</span>
                    <span data-depth-y="-4">L</span>
                    <span data-depth-y="3">e</span>
                </h4>
                <div class="layer" data-depth="-0.5"><img src="img1.png"></div>
                <div class="layer zIndexAbove" data-depth="0.75"><img src="img2.png"></div>
                <div class="layer zIndexAbove" data-depth="1"><img src="img3.png"></div>
                <div class="layer" data-depth="-0.25"><img src="img4.png"></div>
                <div class="layer" data-depth="0.625"><img src="img5.png"></div>
                <div class="layer zIndexAbove" data-depth="-0.375"><img src="img6.png"></div>
            </div>   
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
    <script>
        var text = document.getElementById('text');
        var scene = document.getElementById('scene');
        var parallaxInstance = new Parallax(text);
        var parallaxInstance = new Parallax(scene);
    </script>
</body>
</html>