<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{url_for('static' , filename = 'css/style.css')}}>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>ScaLe | Prediction</title>
</head>
<body style="background-color:#23242a;">
    <header>
        <a href="index" class="logo">ScaLe</a>
        <ul class = "navigation">
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
        </ul>
    </header>
    
    <div class = "second-main" style = "height: 100% , width: 100%">

        <div class = "header">
            <row style = "width: 100% ; display: flex; justify-content: center;">
                <h7 class="header-text", style="font-size: x-large; color: #45f3ff; font-weight: bolder;">Uploaded Image</h7>
            </row>
            <p></p>
            <row style = "width: 100% ; display: flex; justify-content: center;">
                <img class = "result-img" src={{url_for('static', filename = 'images/'+ img)}} style="width: 500px; height: 300px; border-radius: 10px;">
            </row>
        </div>
        <p></p>
        <div class = "info">
            <row style = "width: 100%; display: flex; justify-content: center;">
                <table class="table-borderless text-light">
                    <tr>
                        <th scope="col", style="padding: 5px;"> Class: </th>
                        <td style="padding: 5px;">{{predictions.class1 }}</td>
                    </tr>
                    <tr>
                        <th scope="col", style="padding: 5px;"> Probability: </th>
                        <td style="padding: 5px;">{{predictions.prob1 }} %</td>
                    </tr>
                    <tr>
                        <th scope="col", style="padding: 5px;"> Calories: </th>
                        <td style="padding: 5px;">{{predictions.cal1 }}</td>
                    </tr>
                    <tr>
                        <td style="padding: 1px; font-weight: lighter; font-size: small;"> (Approximately of General Recipe) </td>
                    </tr>
                </table>
            </row>
        </div>
    </div>

</body>
</html>